<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIVOL </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainCollapse"
                    aria-controls="mainCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            @Html.ActionLink("SIVOL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse" id="mainCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @*<li class="nav-item">@Html.ActionLink("Página Inicial", "Index", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Produtos", "Add_Loja", "Produtos", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Usuários", "Index", "Usuarios", new { @class = "nav-link" })</li>*@

                    <li class="nav-item">@Html.ActionLink("Página Inicial", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Produtos", "ListaProdutos", "Produtos")</li>
                    <li class="nav-item">@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>