@{
    //ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>
    <table>
        <tr>
            <td><a class="btn btn-danger btn-lg" href="/Carrinho/ListaProdutosCarrinho">Esvaziar carrinho &raquo;</a></td>
        </tr>
    </table>

</p>
<br />

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Nome do Produto</th>
        <th>Quantidade</th>
        <th>Valor</th>
        @*<th>Unidade</th>*@
    </tr>

    @if (ViewBag.Lista.Count == 0)
    {
        <tr>
            <td> Não há elementos no carrinho </td>
        </tr>
    }

    @foreach (var item in ViewBag.Lista)
    {
        <tr>
            <td>@item.NomeProduto</td>
            <td>@item.QuantEstoq</td>
            <td>@item.VlrProduto</td>
            <td>@*@item.Unidade*@</td>
            @*<td>@item.Loja</td>*@
            <td><a href="/Carrinho/AumentarQuantidadeProduto/@item.IdProduto">+1</a></td>
            <td><a href="/Carrinho/DiminuirQuantidadeProduto/@item.IdProduto">-1</a></td>
            <td><a href="/Carrinho/RemoverProdutoCarrinho/@item.IdProduto">Remover do carrinho</a></td>
        </tr>

    }
</table>

<p>Use this area to provide additional information.</p>
