@{
    //ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p><a class="btn btn-info btn-lg" href="/Produtos/Add_Loja">Adicionar &raquo;</a></p>
<br />

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Nome do Produto</th>
        <th>Estoque</th>
        <th>Valor</th>
        <th>Peso</th>
        <th>Unidade</th>
    </tr>

    @foreach (var item in ViewBag.Lista)
    {
        <tr>
            <td>@item.NomeProduto</td>
            <td>@item.QuantEstoq</td>
            <td>@item.VlrProduto</td>
            <td>@item.Peso</td>
            <td>@item.Unidade</td>
            @*<td>@item.Loja</td>*@
            <td><a href="/Produtos/Alterar_Prod/@item.IdProduto">Alterar</a></td>
            @*<td><a href="/Produtos/Excluir_Prod/@item.IdProduto">Adicionar ao carrinho</a></td>*@
            <td><a href="/Produtos/Excluir_Prod/@item.IdProduto">Excluir</a></td>
        </tr>

    }
</table>

<p>Use this area to provide additional information.</p>
